body {
    margin: 0;
    padding:0;
    background-color:white;
    background-image: url(../img/basicLayer.jpeg);
    font-family: SegoeUI-Semilight, SegoeUI-Bold, AdobeInvisFont, MyriadPro-Regular, sans-serif;
    font-size: calc(8px + 0.55vw);
};

header {
    max-width: 1400px;
    min-height: 119px;
    margin: 80px auto 0 auto;
    clear: both;
    .logoText {
        float: left;
        max-width: 856px;
        h1 {
            margin:0;
            font-size: 3.3em;
            line-height: 1.1em;
            a {
                text-decoration: none;
                color: #357bac;
                span {
                    color: #6da6ca;
                };
            };
        };
        
    };
    .logoImage {
        float: right;
        max-width: 407px;
        padding-top: 18px;
        img {
            width: 100%;
            height: 100%;
        }
    };
};

.container {
    max-width: 1400px;
    margin: 0 auto;
    form {
        max-width: 684px;
        p{
            margin-top: 40px;
            font-size: 1.4em;
            line-height: 1.5em;
        };
        .buttonAnswer {
            margin: 64px auto;
            max-width: 600px;
            height: 130px;
            input {
                display: none;
            };
            .buttonAnswer__img {
                display:inline-block;
                vertical-align: middle;
                width: 22%;
                height: 130px;
            };
            .buttonAnswer__img[name="Great"] {
                background-image: url("../img/Great.png");
            };
            .buttonAnswer__img[name="Bad"] {
                background-image: url("../img/Bad.png");
            };
            .buttonAnswer__text {
                display:inline-block;
                vertical-align: middle;
                margin: 0 2%;
                width: 72%;
                height: 97px;
                line-height: 97px;
                text-align: center;
                border-style: solid;
                border-width: 3px 3px 3px 0px;
                border-radius: 0px 15px 15px 0px;
                font-size: 1.6em;
                border-color: #929292;
                color: #929292;
            };
            input[type="radio"]:checked ~.buttonAnswer__text {
                border-color: #357bac;
                color: #357bac;
            };
            input[type="radio"]:checked ~.buttonAnswer__img[name="Great"] {
                background-image: url("../img/Great-checked.png");
            };
            input[type="radio"]:checked ~.buttonAnswer__img[name="Bad"] {
                background-image: url("../img/Bad-checked.png");
            };
        };
        input[type="submit"] {
            display: none;
        };
    };
};
.buttonPhone {
    position: absolute;
    width: 100%;
    top: 295px;
    right: 3%;
    .smartShadow {
        position: absolute;
        top: 1%;
        right: 2%;
        width: 40.5%;
    };
    .smartPassive {
        position: absolute;
        top: 0;
        right: 0;
        width: 40.5%;
    };
    .smartPassive:hover {
        content: url(../img/smartActive.png);
    };
};

@media screen and (max-width: 1262px) {
    header {
        margin: 10px auto;
        padding: 0 10px;
        .logoText {
            float: none;
            padding: 4em 0;
        };
        .logoImage {
            float: none;
            margin: 0 auto;
        };
    };
    form {
        margin: 0 10px;
    };
    .buttonPhone {
        position: relative;
        top: 0;
        left: 0;
        .smartPassive {
            position: relative;
            top: 0;
            left: 3%;
            width: 50%;
      };
    };
};